---
layout: default
---
{{ content }}

<div style="margin-top: 60px; padding-top: 40px; border-top: 1px solid #e0e0e0;">
  <script src="https://giscus.app/client.js"
    data-repo="jameskwon07/jameskwon07.github.io"
    data-repo-id="R_kgDORV8Ghw"
    data-category="General"
    data-category-id="DIC_kwDORV8Gh84C45k-"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="ko"
    crossorigin="anonymous"
    async>
  </script>
</div>
